@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-enter {
  opacity: 1;
  transform: translateX(100%);
}
.nav-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}
.nav-exit {
  opacity: 1;
  transform: translateX(0);
}
.nav-exit-active {
  opacity: 1;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}
